# Dependency Directories
node_modules/
.pnpm-store/

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Artifacts
dist/
build/
.next/
out/
.turbo/
package-lock.json
pnpm-lock.yaml

# IDE / OS Files
.vscode/
.idea/
.DS_Store
*.swp
*.log
Thumbs.db

# Database Artifacts
*.db
*.sqlite
/apps/server/prisma/migrations/
/apps/server/src/prisma/client/
